.ul-desing {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .li-desing {
    float: left;
  }
  
  .li-desing a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .li-desing a:hover {
    background-color: #E9ECEF;
  }

  .adjust-col{
      background-color: lightgray;
  }

  .adjust-title{
      margin-top: 10px;
      margin-bottom: 20px;
  }